$color-body: #222222;
$bg-color-body: whitesmoke;
$bg-color-header: #ccc;
$color-header: #444444;

$bg-color-tasks: #353333;

$color-accent: dodgerblue;


//ambersand highlight
$color-highlight: dodgerblue;
// selected list through link
$color-listSelected: seagreen;

