$bg-color-body: white;
$bg-color-header: khaki;
$color-header: #222;
$color-h1: seagreen;
$bg-color-tasks: #353333;
$color-bullets: khaki; 
$color-body: whitesmoke;
// Input section 
$bg-color-input:rgb(6, 82, 82);
$bg-color-textArea: seagreen;
$border-color-button: saddlebrown;
// extra 
$color-warning: khaki;
// weak color
$color-complete: rgb(130, 210, 122);
//ambersand highlight
$color-highlight: dodgerblue;
// selected list through link
$color-listSelected: crimson;

