* {
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
  color: #222222;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header {
  width: 90%;
  border: 2px solid #444444;
  border-radius: 10px;
  margin: 20px auto 20px auto;
  color: #444444;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #ccc;
  color: #222222;
}
.header h1 {
  font-size: 32px;
  display: inline-block;
  text-transform: uppercase;
}
.header .imglogo {
  width: 120px;
  height: 120px;
  display: block;
  margin-left: 10%;
}
.header p {
  margin-left: 10%;
  color: seagreen;
  font-size: 16px;
}
.header p span {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 680px) {
  .header {
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
  }
  .header .imglogo {
    margin: 0 auto;
  }
  .header p {
    grid-column: 1/span 1;
  }
}

.buttons, .task-input div#controlInput button, div.searchBar input#searchButton {
  padding: 10px 40px;
  margin: 10px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #ccc;
  color: #222222;
  border: 1px solid;
}
.buttons:hover, .task-input div#controlInput button:hover, div.searchBar input#searchButton:hover {
  background-color: dodgerblue;
  color: whitesmoke;
  border-color: #222222;
  font-weight: bold;
  cursor: pointer;
}

div.searchBar {
  padding: 10px;
}
div.searchBar input#searchKey {
  padding: 5px;
  margin: 10px;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid dodgerblue;
  color: #222222;
}
.searchResult a {
  color: #222222;
  display: block;
  text-decoration: none;
}
.searchResult a:hover {
  color: dodgerblue;
  cursor: pointer;
  text-decoration: underline;
}

section.containerAll {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2%;
}
@media screen and (max-width: 680px) {
  section.containerAll {
    flex-direction: column;
  }
}

.task-container {
  flex: 1.2;
  justify-content: center;
  align-content: center;
  min-height: 40vh;
  min-width: 30%;
  padding: 10px;
  border: 2px solid #222222;
  margin: 0 2% 0 5%;
}
@media screen and (max-width: 680px) {
  .task-container {
    width: 90%;
  }
}

.task-input {
  flex: 1;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
  justify-content: center;
  align-content: center;
  background-color: #ccc;
  border: 1px solid #222222;
}
@media screen and (max-width: 680px) {
  .task-input {
    grid-template-columns: auto;
    margin-top: 10px;
    width: 90%;
  }
}
.task-input div.textArea textarea {
  padding: 5px 10px;
  border: 1px solid dodgerblue;
  border-radius: 10px;
  text-align: left;
  text-indent: 10px;
  min-width: 80%;
}
@media screen and (max-width: 680px) {
  .task-input div.textArea textarea {
    width: 90%;
  }
}
.task-input div#controlInput button {
  padding: 10px 20px;
  margin-left: 2%;
}
.task-input div.foot-message {
  grid-column: span 2;
  margin-top: 2%;
  margin-left: 25%;
  width: 50%;
  background-color: whitesmoke;
  border: 1px solid #222222;
  border-radius: 5px;
  padding: 5px 0;
}
.task-input div.foot-message p {
  color: #444444;
}
@supports (-moz-text-underline-offset: 5px) or (text-underline-offset: 5px) {
  .task-input div.foot-message p {
    -moz-text-underline-offset: 5px;
    text-underline-offset: 5px;
  }
}
@media screen and (max-width: 680px) {
  .task-input div.foot-message {
    grid-column: span 1;
  }
}

.blue-emoji {
  fill: dodgerblue;
}

li.taskTitle {
  display: grid;
  grid-template-columns: 2fr 10%;
  justify-content: center;
  text-align: left;
  list-style: lower-latin;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ccc;
  color: #222222;
  margin-bottom: 1%;
  grid-auto-rows: minmax(20px, auto);
  word-wrap: break-word;
}
li.taskTitle:hover {
  cursor: pointer;
  cursor: context-menu;
}
li.taskTitle.complete {
  text-decoration: line-through;
  color: dodgerblue;
}

ul.subTask {
  color: #222222;
  text-align: left;
  background-color: none;
}
ul.subTask li {
  list-style-type: circle;
  list-style-position: inside;
  font-weight: normal;
  font-size: normal;
  text-transform: none;
}
ul.subTask li:hover {
  cursor: context-menu;
}
ul.subTask li.complete {
  text-decoration: line-through;
  color: dodgerblue;
}

div.delImgContainer {
  justify-content: center;
  align-items: center;
}

img.deleteTask {
  height: 20px;
  width: 20px;
}

img.stopprop {
  background-color: dodgerblue;
}

img.deleteTask:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */