body{
    background-color: #222;
    color: whitesmoke;
}
ol.tasks {
    display: grid;
    grid-template-columns: auto auto;
}
img.delet{
    height: 50px;
    width: 50px;
}
li{
    list-style: upper-roman;
    display: inline-block;
    >div {
        display: inline-block;
        margin-left: 50px;
    }
    ul {
        background-color: dodgerblue;
        color: yellow;
        border: 2px solid yellow;
        text-align: center;
    }
}